<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetSuite">
  
  <listeners>
  <listener class-name="api.Utilities.ExtentReportManager"> </listener>
  </listeners>
  
  <test thread-count="5" name="PetTest">
    <classes>
    <!--  <class name="api.tests.DataDrivenTests"/>-->
      <class name="api.tests.UserTests2"/> 
    </classes>
  </test> <!-- PetTest -->
</suite> <!-- PetSuite -->
